/* #container {

} */

#grid {
    height: 500px;
    width: 500px;
    outline-style: solid;

    display: flex;
    flex-wrap: wrap;
}
#row {
    display: flex;
    width: 100%;
}
#box {
    /* outline-style: solid; */
    width: 100%;
}
#box:hover {
    background-color: black;
}